/NeuroML2/v.dat
*~
*.pyc
PyNN/Results

NeuroML2/x86_64
NeuroML2/*nrn.py
NeuroML2/*mod
NeuroML2/*hoc
NeuroML2/*dat
/NeuroML2/poisson.spikes
/NeuroML2/random.spikes
/NeuroML2/regular.spikes

.ipynb_checkpoints
/NeuroML2/pynn.spikes
/NeuroML2/pois.syn.fire
/NeuroML2/trans.pois.syn.fire
/NeuroML2/refpoisson.spikes
/NeuroML2/LEMS_NoisyCurrentInput_netpyne.py
/NeuroML2/NET_NoisyCurrentInput.net.nml
/NeuroML2/NET_Inputs.net.nml
/NeuroML2/*.spikes
/NeuroML2/test/*.spikes
/NeuroML2/test/*.png
/NeuroML2/test/ParamSweep_*
/NeuroML2/test/LEMS_SimTest.xml
/NeuroML2/test/RunStims.json
/NeuroML2/test/RunStims.net.nml
/NeuroML2/test/SimTest.json
/NeuroML2/test/report.*.txt
*.gv
