/NeuroML2/v.dat
*~
*.pyc
PyNN/Results

NeuroML2/x86_64
NeuroML2/*nrn.py
NeuroML2/*mod
NeuroML2/*hoc
NeuroML2/*dat
/NeuroML2/poisson.spikes
/NeuroML2/random.spikes
/NeuroML2/regular.spikes

.ipynb_checkpoints
/NeuroML2/pynn.spikes
/NeuroML2/pois.syn.fire
/NeuroML2/trans.pois.syn.fire
